header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--black{
    background-color: #0e0e0e;
}

.header--logo{
    height: 90px;
    margin-left: 20px;
}

.header--logo img{
    height: 100%;
}

.header--user {
    height: 50px;
    margin-right: 10px;
}

.header--user img{
    height: 100%;
    border-radius: 10px;
}